<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            <nav class="navbar flex-column">
                <a class="navbar-brand" href="#" style="margin-left: 35px">
                    <img src="/img/FVK.png" width="150" height="150" class="d-inline-block align-top" alt="Logo FVK." title="Logo Federación Venezolana de Kendo Iaido & Jodo.">
                </a>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojos/init" class="nav-link"><i class="fa fa-home"></i>  Inicio</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojos/members" class="nav-link"><i class="fa fa-address-card"></i>  Membresía</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojo/config/{{_id}}" class="nav-link"><i class="fas fa-cog"></i>  Configuracion</a>
                </li>
                <br>
                <br>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card"></i>  Tesorería</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/dojos/ingresos"><i class="fas fa-piggy-bank"></i>  Ingresos</a>
                            <a class="dropdown-item" href="/dojos/egresos"><i class="fas fa-hand-holding-usd"></i>Egresos</a>
                        </div>
                </li> 
                <br>
                <br>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled"><i class="fa fa-question-circle"></i>  No sé qué poner aquí</a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-danger">
                        <a href="/dojos/logout" class="nav-link "><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
                    </button>
                </li>
            </nav>
        </div>
    </div>

    <div class="col-sm-12 col-md-9 content">
            <div class="card-body">
                <hr>
                    <h1><i class="fas fa-cog"></i>  Configuracion</h1>
                <hr>
                <form action="/dojo/edit/{{data._id}}_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="">Nombre del Dojo</label>
                            <input type="text" name="DojoName" class="form-control" placeholder="Dojo Name" autofocus value="{{data.DojoName}}"> <!--En caso de no funcionar cambiar data por dojo en cada uno de los values-->
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="">Correo Institucional</label>
                            <input type="email" name="DojoEmail" class="form-control" placeholder="ejemplo@dojo.com" value="{{data.DojoEmail}}"> 
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="">RIF</label>
                            <input type="text" name="DojoRIF" class="form-control" placeholder="J000000000" value="{{data.DojoRIF}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="">Fecha de Fundación</label>
                            <input type="date" name="DojoFoundation" class="form-control" value="{{data.DojoFoundation}}">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="">Dirección</label>
                            <input type="text" name="DojoAddress" class="form-control" placeholder="Edificio, calle, ciudad, estado" value="{{data.DojoAddress}}">
                        </div>
                    </div>

                    <!--Alinear aqui-->

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="">Artes marciales que imparte</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name='artes' type="checkbox" id="inlineCheckbox1" value="kendo">
                                <label class="form-check-label" for="inlineCheckbox1">Kendo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name='artes' type="checkbox" id="inlineCheckbox2" value="iaido">
                                <label class="form-check-label" for="inlineCheckbox1">Iaido</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name='artes' type="checkbox" id="inlineCheckbox3" value="jodo">
                                <label class="form-check-label" for="inlineCheckbox1">Jodo</label>
                            </div>
                        </div>
                    </div>


                    <h3>Sobre el responsable</h3>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="">Nombre Completo</label>
                            <input type="text" name="FounderName" class="form-control" placeholder="Nombre" value="{{dojo.FounderName}}">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="">Correo electrónico</label>
                            <input type="email" name="FounderEmail" class="form-control" placeholder="nombre@ejemplo.com" value="{{dojo.FounderEmail}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="">Cédula de Identidad</label>
                            <input type="" name="FounderID" class="form-control" placeholder="00000000" value="{{dojo.FounderID}}">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="grado">Grado</label>
                            <select name="grados" id="" class="form-control">
                                <option value="1er dan">一段・1er dan</option>
                                <option value="2do dan">二段・2do dan</option>
                                <option value="3er dan">三段・3er dan</option>
                                <option value="4to dan">四段・4to dan</option>
                                <option value="5to dan">五段・5to dan</option>
                                <option value="6to dan">六段・6to dan</option>
                                <option value="7mo dan">七段・7mo dan</option>
                                <option value="8vo dan">八段・8vo dan</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Actualizar informacion</button>
                </form>

            </div>
    </div>
</div>