<body class="container">
    <div class="card container jumbotron mt-5 content">
            <div class="row container">
                <div class="container logo col-sm-12 col-lg-6 card-img-left">
                    <img src="/img/FVK.png" alt="Logo FVK" title="Logo Federación Venezolana de Kendo, Iaido y Jodo" width="300" height="300">
                    <h1>Federación Venezolana</h1>
                    <h3>Kendo Iaido & Jodo</h3>
                </div>
                <div class="carousel slide col-sm-12 col-lg-6" id="carouselExampleIndicators" data-ride="caraousel" data-interval="0">
                    <div class="container reverse carousel-item active card-body my-auto mx-auto">
                        <h2>LOGIN</h2>
                        <form action="/dinit" method="post">
                            <div class="form-group">
                                <label for="dojo-email">Correo electronico</label>
                                <input type="email" id="dojo-email" name="DojoEmail" class="form-control" placeholder="Enter e-Mail">
                            </div>
                            <div class="form-group">
                                <label for="dojo-pass">Contraseña</label>
                                <input type="password" id="dojo-pass" name="DojoPass" class="form-control" placeholder="Enter Password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-danger">ingresar</button>
                        </form>
                        <br>
                        <p style="font-size: 30px">¿No está registrado? <a href="/dsignup">Regístrese</a>.</p>
                    </div>
                </div>
            </div>
    </div>
</body>