<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            <nav class="navbar flex-column">
                <a class="navbar-brand" href="#" style="margin-left: 35px">
                    <img src="/img/FVK.png" width="150" height="150" class="d-inline-block align-top" alt="Logo FVK." title="Logo Federación Venezolana de Kendo Iaido & Jodo.">
                </a>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/init" class="nav-link"><i class="fa fa-home"></i>  Inicio</a>
                </li
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/list" class="nav-link"><i class="fa fa-address-card"></i>  Dojos</a>
                </li>>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/asignaciones" class="nav-link"><i class="fas fa-box-open"></i>  Asignaciones</a>
                </li>
                <br>
                <br>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card"></i>  Tesorería</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/FVK/ingresos"><i class="fas fa-piggy-bank"></i>  Ingresos</a>
                            <a class="dropdown-item" href="/FVK/egresos"><i class="fas fa-hand-holding-usd"></i>Egresos</a>
                        </div>
                </li> 
                <br>
                <br>
                <li class="nav-item">
                    <a href="/FVK/solicitudes" class="nav-link"><i class="fas fa-plus-circle"></i>  Nuevos ingresos</a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-danger">
                        <a href="/admin/logout" class="nav-link "><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
                    </button>
                </li>
            </nav>
        </div>
    </div>

    <div class="col-sm-12 col-md-9 content">
            <div class="card-head jumbotron panel3" style="height: 350px">
                <br><br>
                <h1 class="title">Autoridades</h1>
            </div>
            <div class="card-body">
                <hr>
                <h3>¡Bienvenido!</h3>
                <br>
                <p>Este es el sistema administrativo para las autoridades de la Federación Venezolana de Kendo, Iaido y Jodo. Aquí podrá listar los dojos activos y aceptar nuevos, revisar las finanzas y actuar en consecuencia, así como registrar y asignar nuevos equipos.</p>
                <hr>
            </div>
    </div>
</div>